* {
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    background-color: cyan;
    height: 1000px;
    width: 1000px;
}
.sale {
    height: 300px;
    width: 1000px;
    background-color: chartreuse;
}
.cart {
    height: 300px;
    width: 1000px;
    background-color:darkorange;
}